<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Edit "{{entryName}}"</h1>
      <button class="button button-clear button-positive" ng-click="closeEditEntry()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

      <form ng-submit="editEntry(tempEditEntry)">
        <div class="list">
          <label class = "item item-input item-stacked-label">
            <span class = "input-label"t>Name of Entry</span>
            <input type="text" placeholder="Name of entry" ng-model="tempEditEntry.name"><br>
          </label>
          <label class = "item item-input item-stacked-label">
            <span class = "input-label"t>Username</span>
            <input type="text" placeholder="Username" ng-model="tempEditEntry.username"><br>
          </label>
          <label class = "item item-input item-stacked-label">
            <span class = "input-label"t>Password</span>
            <input type="text" placeholder="Password" ng-model="tempEditEntry.password"><br>
          </label>
          <label class = "item item-input item-stacked-label">
            <span class = "input-label"t>Remarks</span>
            <textarea rows="3" ng-model="tempEditEntry.remarks" placeholder="Remarks"></textarea><br>
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Edit Entry</button>
        </div>
      </form>

    </ion-content>

  </div>