<ion-view view-title="Entry Details">
<ion-nav-bar class="bar-dark">
  <h1 id="navBarTitle" class="title">{{currEntry.name}}</h1>
    <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
          </ion-nav-back-button>
  </ion-nav-bar>
 <!--ion-nav-buttons side="left">
        <button class="left button button-icon icon ion-arrow-left-c" ng-click="back()"></button></ion-nav-buttons-->
<ion-nav-buttons side="right">
    <button class="button button-icon" ng-click="showEditEntry(currEntry)">
      <i class="icon ion-compose"></i>
    </button>
  </ion-nav-buttons>
      <ion-content> 
            <div class = "card list" style="text-align:center">
   <div class = "item item-divider">
      {{currEntry.name}}
   </div>
   
   <div class = "item item-text-wrap" style="text-align:center">
      Username: {{currEntry.username}}
   </div>

   <div class = "item item-text-wrap" style="text-align:center">
      Password: {{currEntry.password}}
   </div>
   
   <div class = "item item-divider" style="text-align:center" ng-if="currEntry.remarks !== undefined && currEntry.remarks !== ''">
      Remarks
   </div>

   <div class = "item item-text-wrap" style="text-align:center" ng-if="currEntry.remarks !== undefined && currEntry.remarks !== ''">
      <pre>{{currEntry.remarks}}</pre>
   </div>
</div>
            <!--h2>{{currEntry.name}}</h2>
            <p>{{currEntry.username}}</p>
            <p>{{currEntry.password}}</p>
            <p>{{currEntry.remarks}}</p-->
      </ion-content>
    </ion-view>