<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">New Entry</h1>
      <button class="button button-clear button-positive" ng-click="closeNewEntry()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

      <form name="newEntryForm" ng-submit="createEntry(newEntry)">
        <div class="list">
          <label class = "item item-input item-stacked-label">
            <span class = "input-label"t>Name of Entry</span>
            <input type="text" placeholder="Name of entry" ng-model="newEntry.name"><br>
          </label>
          <label class = "item item-input item-stacked-label">
            <span class = "input-label"t>Username</span>
            <input type="text" placeholder="Username" ng-model="newEntry.username"><br>
          </label>
          <label class = "item item-input item-stacked-label">
            <span class = "input-label"t>Password</span>
            <input type="text" placeholder="Password" ng-model="newEntry.password"><br>
          </label>
          <label class = "item item-input item-stacked-label">
            <span class = "input-label"t>Remarks</span>
            <textarea rows="3" ng-model="newEntry.remarks" placeholder="Remarks"></textarea><br>
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Create Entry</button>
        </div>
      </form>

    </ion-content>

  </div>