<ion-view title="Unlock Vault">
    <ion-content>
        <div class="padding-left padding-top padding-right" style="text-align:center">
            <h2>Reset Master Password</h2>
        </div>
        <div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input ng-model="oldMasterPassword" type="password" placeholder="Old Master Password" />
                </label>
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input ng-model="resetNewMasterPassword" type="password" placeholder="New Master Password" />
                </label>
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input ng-model="confirmRestetPassword" type="password" placeholder="Confirm Master Password" />
                </label>
            </div>
            <div class="padding-left padding-right">
                <div class="button-bar" ng-if="confirmRestetPassword !== '' && resetNewMasterPassword !== '' && confirmRestetPassword === resetNewMasterPassword && confirmRestetPassword !== undefined">
                    <a class="button" ng-click="resetMasterPass(oldMasterPassword, resetNewMasterPassword, confirmRestetPassword)">Reset</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>